 
QPushButton {
    
     background-color: transparent;
     min-width: 80px;
     min-height:22
    
 }

 QPushButton:pressed {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 rgba(47,79,79,150));
 }
 
 QPushButton:hover 
 { 
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 rgba(0, 255, 127, 255), stop: 0.5 rgba(0, 255,127, 115), stop:1 rgba(245, 245, 220, 255));
 }
 
  QPushButton:hover:pressed
 { 
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 rgba(47,79,79,150));
 }
 
 QProgressBar
 {
    background: transparent;
        font-family:Luxi Sans; 
  font-style:italic;
  font-size:13pt;
 }
  QProgressBar::chunk
 {
   background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 rgba(47,79,79,100));
 }
 
 QTableWidgetItem:disabled
 {
 color:black;
 }
 